// -----------------------
// CONTENT
// -----------------------

.app-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  background-color: var(--gray-color-600);

  // FULL HEIGHT
  > .container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    > * {
      flex-grow: 1;
    }
  }
}
