// -----------------------
// FOOTER
// -----------------------

.app-footer {
    padding: 1.8125rem 0 2.1875rem;
    background-color: var(--dark-color);

    small {
        font-size: 1rem;
        color: var(--white-color);
    }
}