// ------------------------------------------------------
// KPI
// ------------------------------------------------------

// .kpi {
//   display: flex;
//   flex-direction: column;
//   font-size: 0.5rem;
//   padding-left: 2.125em;
//   position: relative;

//   @include mq($from: tablet-small) {
//     font-size: 1.3vw;
//   }
//   @include mq($from: desktop) {
//     font-size: 1rem;
//   }

//   &::before {
//     content: '';
//     display: block;
//     width: 0;
//     height: 0;
//     border-left: 0.75em solid transparent;
//     border-right: 0.75em solid transparent;
//     border-bottom: 1.5em solid var(--kpi-color);
//     position: absolute;
//     top: 1.625em;
//     left: 0;
//   }

//   & + & {
//     margin-left: 2em;

//     @include mq($from: desktop-large) {
//       margin-left: 5.9375em;
//     }
//   }

//   // MODIFIERS
//   &--high {
//     --kpi-color: var(--online-color);
//   }
//   &--low {
//     --kpi-color: var(--offline-color);

//     &::before {
//       transform: rotate(180deg);
//     }
//   }

//   &__value {
//     font-size: 3.5em;
//     font-weight: $bold;
//     line-height: 1.3;
//   }

//   &__label {
//     font-size: 1em;
//     color: var(--gray-color-200);
//   }
// }
// ------------------------------------------------------
// KPI
// ------------------------------------------------------

.wrap-kpi {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
  grid-gap: 1rem;
}

.kpi {
  display: flex;
  flex-direction: column;
  padding-left: 1.625rem;
  position: relative;

  @include mq($from: desktop) {
    padding-left: 2.125rem;
  }
  @include mq($from: desktop-extralarge) {
    padding-left: 2.875rem;
  }

  &::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 1rem solid var(--kpi-color);
    position: absolute;
    top: 1rem;
    left: 0;

    @include mq($from: desktop) {
      border-left-width: 0.75rem;
      border-right-width: 0.75rem;
      border-bottom-width: 1.5rem;
      top: 1.625rem;
    }
    @include mq($from: desktop-extralarge) {
      border-left-width: 1rem;
      border-right-width: 1rem;
      border-bottom-width: 2rem;
      top: 2rem;
    }
  }

  // MODIFIERS
  &--high {
    --kpi-color: var(--online-color);
  }
  &--low {
    --kpi-color: var(--offline-color);

    &::before {
      transform: rotate(180deg);
    }
  }

  &__value {
    font-size: 2.5rem;
    font-weight: $bold;
    line-height: 1.3;

    @include mq($from: desktop) {
      font-size: 3.5rem;
    }
    @include mq($from: desktop-extralarge) {
      font-size: 3vw;
    }
  }

  &__label {
    font-size: 1rem;
    color: var(--gray-color-200);

    @include mq($from: desktop-extralarge) {
      font-size: 1.125vw;
    }
  }
}
