<div id="{{ kpiId }}" class="kpi {{ kpiModifier }}" data-kpi="{{ kpiValue }}">
    <div class="kpi__value"><strong>{{ kpiValue }}</strong><span>%</span></div>
    <span class="kpi__label">{{ kpiLabel }}</span>
</div>