<div class="tabs js-tabs">
    <nav class="tabs__nav">
        <ul class="tabs__list">
            {{#each tabsNavigation}}
            <li class="tabs__item">
                <button class="tabs__button {{#if isActive}}is-active{{/if}}" data-target="{{ id }}">{{ text }}</button>
            </li>
            {{/each}}
        </ul>
    </nav>
    <div class="tabs__container">
        {{#each tabsContent}}
        <div id="{{ id }}" class="tabs__content {{#if isActive}}is-active{{/if}}">
            {{#ifZero @index}}
            <div class="row">
                <div class="col col-dk-40">
                    {{ render '@avatar' }}
                </div>
                <div class="col col-dk-60 wrap-kpi">
                    {{> '@kpi' kpiId="kpi-1" kpiModifier="kpi--high" kpiValue="72" kpiLabel="Fake data 01" }}
                    {{> '@kpi' kpiId="kpi-2" kpiModifier="kpi--high" kpiValue="91" kpiLabel="Fake data 02" }}
                    {{> '@kpi' kpiId="kpi-3" kpiModifier="kpi--low" kpiValue="37" kpiLabel="Fake data 03" }}
                </div>
            </div>
            <div class="row">
                <div class="col col-dk-40">
                    {{ render '@collapsable' }}
                </div>
                <div class="col col-dk-60">
                    {{ render '@grid' }}
                </div>
            </div>
            {{else}}
            <div class="row">
                <div class="col col-dk-40">
                    <h1>{{ text }}</h1>
                </div>
            </div>
            {{/ifZero}}
        </div>
        {{/each}}
    </div>
</div>