.tabs {
  background-color: var(--white-color);
  border-radius: 0.5rem;
  overflow: hidden;

  &__nav {
    width: 100%;
    padding-bottom: 0.25rem;
    overflow-x: scroll;

    @include mq($from: tablet) {
      overflow-x: auto;
      background-color: var(--gray-color-400);
    }
  }

  &__list {
    display: flex;
    border-bottom: 0.25rem solid var(--gray-color-400);
    list-style-type: none;
    background-color: var(--white-color);

    @include mq($from: tablet) {
      border-bottom: 0;
    }
  }

  &__item {
  }

  &__button {
    --tab-underline-color: var(--gray-color-400);
    width: 7rem;
    height: 2.75rem;
    padding: 0;
    border: 0;
    font-size: 1rem;
    font-weight: $medium;
    color: var(--gray-color-200);
    background-color: transparent;
    position: relative;
    transition: color $normal;

    @include mq($from: tablet) {
      width: 10.75rem;
      height: 3.75rem;
      font-size: 1.25rem;
    }
    @include mq($from: desktop-extralarge) {
      height: 4rem;
      font-size: 1.5rem;
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 0.25rem;
      background: var(--tab-underline-color);
      position: absolute;
      left: 0;
      bottom: -0.25rem;
    }

    // STATES
    &:hover,
    &.is-active {
      --tab-underline-color: var(--light-gradient);
      color: var(--dark-color);
    }
  }

  &__container {
  }

  &__content {
    display: none;

    // STATES
    &.is-active {
      display: block;
    }
  }
}
