<svg>
    <use xlink:href="{{ path '/img/icons/sprite.svg#logo' }}"></use>
</svg>
<svg>
    <use xlink:href="{{ path '/img/icons/sprite.svg#stats' }}"></use>
</svg>
<svg>
    <use xlink:href="{{ path '/img/icons/sprite.svg#settings' }}"></use>
</svg>
<svg>
    <use xlink:href="{{ path '/img/icons/sprite.svg#profile' }}"></use>
</svg>
<svg>
    <use xlink:href="{{ path '/img/icons/sprite.svg#messages' }}"></use>
</svg>
<svg>
    <use xlink:href="{{ path '/img/icons/sprite.svg#diffusion' }}"></use>
</svg>
<svg>
    <use xlink:href="{{ path '/img/icons/sprite.svg#calendar' }}"></use>
</svg>
<svg>
    <use xlink:href="{{ path '/img/icons/sprite.svg#arrow-down' }}"></use>
</svg>
<svg>
    <use xlink:href="{{ path '/img/icons/sprite.svg#menu' }}"></use>
</svg>
<svg>
    <use xlink:href="{{ path '/img/icons/sprite.svg#close' }}"></use>
</svg>