// -----------------------
// NAVIGATION
// -----------------------

.navigation {
  // STATES
  &.is-open {
    .navigation__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: var(--light-gradient);
      clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
      opacity: 1;
      pointer-events: all;
      transform: none;
    }
    .navigation__item {
      opacity: 1;
      transform: none;
    }
  }

  &__button {
    padding: 0;
    color: var(--white-color);
    border: 0;
    background-color: transparent;

    @include mq($from: tablet) {
      display: none;
    }

    > svg {
      width: 2.75rem;
      height: 2.75rem;
    }
  }

  &__list {
    padding-left: 0;
    list-style-type: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: z(default);
    pointer-events: none;
    opacity: 0;
    clip-path: polygon(0 100%, 0 100%, 100% 100%, 100% 100%);
    transform: translateY(0.5rem);
    transition: clip-path $normal $ease-in, opacity $normal,
      transform $ultraslow 100ms;

    @include mq($from: tablet) {
      display: flex !important;
      flex-direction: row !important;
      position: static !important;
      background-image: none !important;
      clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
      opacity: 1;
      pointer-events: all;
      transform: none;
    }
  }

  &__item {
    opacity: 0;
    transform: translateY(0.5rem);
    transition: all $ultraslow;

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        transition-delay: $i * 50ms;
      }
    }

    @include mq($from: tablet) {
      opacity: 1;
      transform: none;
    }

    & + & {
      margin-top: 1rem;

      @include mq($from: tablet) {
        margin-top: 0;
        margin-left: 1rem;
      }
      @include mq($from: desktop) {
        margin-left: 3.5rem;
      }
    }
  }

  &__link {
    font-size: 1.25rem;
    color: var(--white-color);
    font-weight: $medium;
    text-decoration: none;

    @include mq($from: desktop) {
      font-size: 1.5rem;
    }
    @include mq($from: desktop-extralarge) {
      font-size: 1.625rem;
    }
  }
}
