<nav class="navigation">
    <button class="navigation__button js-open-navigation">
        <svg>
            <use xlink:href="/img/icons/sprite.svg#menu"></use>
        </svg>
    </button>
    <ul class="navigation__list">
        <li class="navigation__item">
            <button class="navigation__button js-close-navigation">
                <svg>
                    <use xlink:href="/img/icons/sprite.svg#close"></use>
                </svg>
            </button>
        </li>
        {{#each navigationItems}}
        <li class="navigation__item">
            <a class="navigation__link" href="{{ url }}">{{ text }}</a>
        </li>
        {{/each}}
    </ul>
</nav>