@media print {
  @page {
    size: 210mm 297mm;
    margin: 10mm;
  }

  body {
    margin: 0px;
    -webkit-print-color-adjust: exact !important;
  }

  .navigation,
  .tabs__nav,
  .grid-wrapper,
  .button.button--collapsable,
  .app-footer {
    display: none !important;
  }

  .collapsable__content {
    min-height: auto !important;
    height: auto !important;

    &::after {
      display: none !important;
    }
  }

  //   .logo > svg {
  //     color: black;
  //   }

  .card {
    padding: 20px;
    box-shadow: inset 0 0 0 0 transparent;
  }
}
