// -----------------------
// GRID
// -----------------------

.grid-wrapper {
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.625rem, 1fr));
  grid-gap: 1.4375rem;
  list-style-type: none;

  @include mq($from: tablet) {
    grid-template-columns: 1fr 1fr;
  }
  @include mq($from: desktop) {
    grid-template-columns: repeat(auto-fill, minmax(12.625rem, 1fr));
  }

  @include mq($from: max-width) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
  }
}
