@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");
:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --gray-color-100: #484848;
  --gray-color-200: #afafaf;
  --gray-color-300: #d8d8d8;
  --gray-color-400: #e0e0e0;
  --gray-color-500: #f9f9f9;
  --gray-color-600: #f0f2f9;
  --light-color: var(--gray-color-500);
  --dark-color: var(--gray-color-100);
  --primary-color: var(--dark-color);
  --secondary-color: var(--gray-color-400);
  --online-color: #60f560;
  --offline-color: #f56060;
  --light-gradient: linear-gradient(90deg, #b993d6 0%, #8ca6db 100%);
  --white-transparent-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.64) 0%,
    #ffffff 100%
  );
  --button-text-color: #c4cce8;
  --button-background-color: var(--gray-color-600); }

:root {
  --wrapper-max-width: 34em;
  --image-max-width: 58em;
  --max-width: 80em; }

@keyframes animate-shadow {
  0% {
    opacity: 0.12;
    transform: translate3d(0, 0, 0); }
  30%,
  70% {
    opacity: 0.422;
    transform: translate3d(0, -1.5rem, 0); } }

@keyframes animate-figure {
  0% {
    transform: translate3d(0, 0, 0); }
  30%,
  70% {
    transform: translate3d(0, 1.75rem, 0); } }

@keyframes show {
  50% {
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

@keyframes spinner {
  0%,
  100% {
    opacity: 0.3;
    transform: scale(0); }
  50% {
    opacity: 1;
    transform: scale(1); } }

@keyframes swipe {
  0%,
  100% {
    transform: rotate(-10deg); }
  50% {
    transform: rotate(10deg); } }

@keyframes drone-1 {
  0%,
  100% {
    transform: translate(0, 0); }
  10% {
    transform: translate(-1rem, -1rem); }
  20% {
    transform: translate(-2rem, -3rem); }
  35% {
    transform: translate(-2rem, 1rem); }
  50%,
  94% {
    transform: translate(-1rem, -1rem); }
  70% {
    transform: translate(0, 0); }
  88% {
    transform: translate(2rem, 2rem); } }

@keyframes drone-2 {
  0%,
  100% {
    transform: translateY(0); }
  10% {
    transform: translateY(-1rem); }
  20% {
    transform: translateY(-3rem); }
  50%,
  80% {
    transform: translateY(-1rem); }
  70% {
    transform: translateY(0); } }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

*,
*:after,
*:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: inherit;
  font-family: inherit; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-family: "Open Sans", serif, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.4;
  min-height: 100vh;
  box-sizing: border-box; }

body {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  font-weight: normal;
  font-size: 100%;
  color: var(--dark-color);
  line-height: 1.4;
  min-height: 100vh; }

abbr[title] {
  border-bottom: 0;
  text-decoration: none; }

img,
iframe,
video {
  vertical-align: middle; }

img {
  display: block;
  width: 100%;
  height: auto; }

menu,
ul,
ol,
li,
dd {
  padding: 0;
  margin: 0;
  list-style-position: outside; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0; }

a {
  color: var(--primary-color);
  transition: color 250ms linear; }
  a:hover, a:focus {
    color: var(--secondary-color); }

button:focus {
  outline: none; }

::-moz-selection {
  color: var(--light-color);
  background-color: var(--primary-color); }

::selection {
  color: var(--light-color);
  background-color: var(--primary-color); }

.dev {
  padding: 1rem;
  margin: 2rem 0;
  border-radius: 0.25rem;
  color: whitesmoke;
  background-color: #f06;
  box-shadow: 0 2px 2px 0 #8d0039; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.d-none {
  display: none !important; }

.d-inline-block {
  display: inline-block !important; }

.d-block {
  display: block !important; }

.d-flex {
  display: flex !important; }

.align-start {
  align-items: flex-start !important; }

.justify-end {
  justify-content: flex-end !important; }

.justify-between {
  justify-content: space-between !important; }

.ovh {
  overflow: hidden !important; }

.p-0 {
  padding: 0 !important; }

.m-0 {
  margin: 0 !important; }

.pt-0 {
  padding-top: 0 !important; }

.mt-0 {
  margin-top: 0 !important; }

.pr-0 {
  padding-right: 0 !important; }

.mr-0 {
  margin-right: 0 !important; }

.pb-0 {
  padding-bottom: 0 !important; }

.mb-0 {
  margin-bottom: 0 !important; }

.pl-0 {
  padding-left: 0 !important; }

.ml-0 {
  margin-left: 0 !important; }

.p-0-5 {
  padding: 0.5rem !important; }

.m-0-5 {
  margin: 0.5rem !important; }

.pt-0-5 {
  padding-top: 0.5rem !important; }

.mt-0-5 {
  margin-top: 0.5rem !important; }

.pr-0-5 {
  padding-right: 0.5rem !important; }

.mr-0-5 {
  margin-right: 0.5rem !important; }

.pb-0-5 {
  padding-bottom: 0.5rem !important; }

.mb-0-5 {
  margin-bottom: 0.5rem !important; }

.pl-0-5 {
  padding-left: 0.5rem !important; }

.ml-0-5 {
  margin-left: 0.5rem !important; }

.p-1 {
  padding: 1rem !important; }

.m-1 {
  margin: 1rem !important; }

.pt-1 {
  padding-top: 1rem !important; }

.mt-1 {
  margin-top: 1rem !important; }

.pr-1 {
  padding-right: 1rem !important; }

.mr-1 {
  margin-right: 1rem !important; }

.pb-1 {
  padding-bottom: 1rem !important; }

.mb-1 {
  margin-bottom: 1rem !important; }

.pl-1 {
  padding-left: 1rem !important; }

.ml-1 {
  margin-left: 1rem !important; }

.p-1-5 {
  padding: 1.5rem !important; }

.m-1-5 {
  margin: 1.5rem !important; }

.pt-1-5 {
  padding-top: 1.5rem !important; }

.mt-1-5 {
  margin-top: 1.5rem !important; }

.pr-1-5 {
  padding-right: 1.5rem !important; }

.mr-1-5 {
  margin-right: 1.5rem !important; }

.pb-1-5 {
  padding-bottom: 1.5rem !important; }

.mb-1-5 {
  margin-bottom: 1.5rem !important; }

.pl-1-5 {
  padding-left: 1.5rem !important; }

.ml-1-5 {
  margin-left: 1.5rem !important; }

.p-2 {
  padding: 2rem !important; }

.m-2 {
  margin: 2rem !important; }

.pt-2 {
  padding-top: 2rem !important; }

.mt-2 {
  margin-top: 2rem !important; }

.pr-2 {
  padding-right: 2rem !important; }

.mr-2 {
  margin-right: 2rem !important; }

.pb-2 {
  padding-bottom: 2rem !important; }

.mb-2 {
  margin-bottom: 2rem !important; }

.pl-2 {
  padding-left: 2rem !important; }

.ml-2 {
  margin-left: 2rem !important; }

.p-2-5 {
  padding: 2.5rem !important; }

.m-2-5 {
  margin: 2.5rem !important; }

.pt-2-5 {
  padding-top: 2.5rem !important; }

.mt-2-5 {
  margin-top: 2.5rem !important; }

.pr-2-5 {
  padding-right: 2.5rem !important; }

.mr-2-5 {
  margin-right: 2.5rem !important; }

.pb-2-5 {
  padding-bottom: 2.5rem !important; }

.mb-2-5 {
  margin-bottom: 2.5rem !important; }

.pl-2-5 {
  padding-left: 2.5rem !important; }

.ml-2-5 {
  margin-left: 2.5rem !important; }

.p-3 {
  padding: 3rem !important; }

.m-3 {
  margin: 3rem !important; }

.pt-3 {
  padding-top: 3rem !important; }

.mt-3 {
  margin-top: 3rem !important; }

.pr-3 {
  padding-right: 3rem !important; }

.mr-3 {
  margin-right: 3rem !important; }

.pb-3 {
  padding-bottom: 3rem !important; }

.mb-3 {
  margin-bottom: 3rem !important; }

.pl-3 {
  padding-left: 3rem !important; }

.ml-3 {
  margin-left: 3rem !important; }

.p-3-5 {
  padding: 3.5rem !important; }

.m-3-5 {
  margin: 3.5rem !important; }

.pt-3-5 {
  padding-top: 3.5rem !important; }

.mt-3-5 {
  margin-top: 3.5rem !important; }

.pr-3-5 {
  padding-right: 3.5rem !important; }

.mr-3-5 {
  margin-right: 3.5rem !important; }

.pb-3-5 {
  padding-bottom: 3.5rem !important; }

.mb-3-5 {
  margin-bottom: 3.5rem !important; }

.pl-3-5 {
  padding-left: 3.5rem !important; }

.ml-3-5 {
  margin-left: 3.5rem !important; }

.no-events {
  pointer-events: none !important; }

.container {
  width: 100%;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 80em) {
    .container {
      width: 88.888%;
      padding: 0; } }

.row {
  padding: 2rem 1rem;
  position: relative; }
  @media screen and (min-width: 40em) {
    .row {
      display: flex; } }
  @media screen and (min-width: 48em) {
    .row {
      padding: 4rem 3.5rem; } }
  .row::after {
    content: '';
    display: block;
    width: calc(100% - 3rem);
    height: 0.0625rem;
    position: absolute;
    left: 1.5rem;
    bottom: 0;
    background-color: var(--gray-color-400); }
    @media screen and (min-width: 40em) {
      .row::after {
        width: calc(100% - 7rem);
        left: 3.5rem; } }
  @media screen and (min-width: 40em) {
    .row > .col:nth-child(1) {
      padding-right: 1.5rem; } }
  @media screen and (min-width: 64em) {
    .row > .col:nth-child(1) {
      padding-right: 3rem; } }
  @media screen and (min-width: 40em) {
    .row > .col:nth-child(2) {
      padding-left: 1.5rem; } }
  @media screen and (min-width: 64em) {
    .row > .col:nth-child(2) {
      padding-left: 3rem; } }

.col {
  flex: 0 0 auto;
  background-color: magenta; }
  @media screen and (min-width: 40em) {
    .col {
      flex-basis: 50%;
      max-width: 50%; } }
  .col + .col {
    margin-top: 1.5rem;
    position: relative; }
    @media screen and (min-width: 40em) {
      .col + .col {
        margin-top: 0; }
        .col + .col::before {
          content: '';
          display: block;
          width: 0.0625rem;
          height: 100%;
          background-color: var(--gray-color-400);
          position: absolute;
          top: 0;
          left: 0; } }
  @media screen and (min-width: 64em) {
    .col-dk-10 {
      flex-basis: 10%;
      max-width: 10%; } }
  @media screen and (min-width: 64em) {
    .col-dk-20 {
      flex-basis: 20%;
      max-width: 20%; } }
  @media screen and (min-width: 64em) {
    .col-dk-30 {
      flex-basis: 30%;
      max-width: 30%; } }
  @media screen and (min-width: 64em) {
    .col-dk-40 {
      flex-basis: 40%;
      max-width: 40%; } }
  @media screen and (min-width: 64em) {
    .col-dk-50 {
      flex-basis: 50%;
      max-width: 50%; } }
  @media screen and (min-width: 64em) {
    .col-dk-60 {
      flex-basis: 60%;
      max-width: 60%; } }
  @media screen and (min-width: 64em) {
    .col-dk-70 {
      flex-basis: 70%;
      max-width: 70%; } }
  @media screen and (min-width: 64em) {
    .col-dk-80 {
      flex-basis: 80%;
      max-width: 80%; } }
  @media screen and (min-width: 64em) {
    .col-dk-90 {
      flex-basis: 90%;
      max-width: 90%; } }
  @media screen and (min-width: 64em) {
    .col-dk-100 {
      flex-basis: 100%;
      max-width: 100%; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  font-family: "Open Sans", serif;
  font-weight: 700;
  color: var(--dark-color); }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.25rem; }

h4 {
  font-size: 1.125rem; }

h5,
h6 {
  font-size: 1rem; }

p {
  margin: 0; }
  p + p {
    margin-top: 1.5rem; }

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  transition: all 300ms; }
  .button[disabled] {
    pointer-events: none;
    opacity: 0.6; }

.button--primary {
  flex-direction: column;
  width: 100%;
  padding: 2.75rem 1.5rem 2.875rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
  color: var(--button-text-color);
  border-radius: 0.5rem;
  background: var(--button-background-color);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0);
  overflow: hidden;
  position: relative; }
  .button--primary::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: var(--light-gradient);
    transition: opacity 300ms; }
  .button--primary > * {
    position: relative;
    z-index: 1; }
  .button--primary > svg {
    width: 50%;
    height: 3.5rem; }
  .button--primary:hover {
    color: var(--white-color);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.24);
    transform: translateY(-0.5rem); }
    .button--primary:hover::after {
      opacity: 1; }

.button--collapsable {
  width: 100%;
  height: 2.75rem;
  padding: 0;
  font-weight: 600;
  color: var(--dark-color);
  position: absolute;
  bottom: 0;
  z-index: 2;
  background-color: transparent; }
  .button--collapsable > span {
    display: block;
    width: 5.25rem;
    text-align: left; }
  .button--collapsable > svg {
    width: 0.875rem;
    height: 0.5rem;
    margin-right: 0.5rem;
    transition: transform 250ms; }
  .is-open .button--collapsable > svg {
    transform: rotate(180deg); }

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.625rem, 1fr));
  grid-gap: 1.4375rem;
  list-style-type: none; }
  @media screen and (min-width: 80em) {
    .grid {
      grid-template-columns: repeat(3, 1fr); } }

.logo {
  color: var(--white-color); }

.avatar {
  display: flex;
  align-items: center; }
  .avatar--online {
    --badge-color: var(--online-color); }
  .avatar--offline {
    --badge-color: var(--offline-color); }
  .avatar__image {
    position: relative; }
    .avatar__image::before {
      content: '';
      display: block;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      background-color: var(--badge-color); }
      @media screen and (min-width: 48em) {
        .avatar__image::before {
          top: 0.5rem;
          right: 0.5rem; } }
    .avatar__image::after {
      content: 'No img';
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-size: 0.875rem;
      background-color: var(--light-color);
      border-radius: 50%;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1; }
    .avatar__image > img {
      width: 4rem;
      height: 4rem;
      font-size: 1rem;
      border-radius: 50%;
      overflow: hidden; }
      @media screen and (min-width: 48em) {
        .avatar__image > img {
          width: 7.5rem;
          height: 7.5rem; } }
  .avatar__info {
    margin-left: 1rem; }
    @media screen and (min-width: 48em) {
      .avatar__info {
        margin-left: 2rem; } }
    .avatar__info__title {
      margin-bottom: 0.25rem;
      font-size: 1.125rem;
      font-weight: 600;
      color: var(--dark-color); }
      @media screen and (min-width: 48em) {
        .avatar__info__title {
          font-size: 1.5rem; } }
    .avatar__info__text {
      font-size: 1rem;
      color: var(--gray-color-200); }
      @media screen and (min-width: 48em) {
        .avatar__info__text {
          font-size: 1.5rem; } }

.card {
  min-height: 30rem;
  border-radius: 0.5rem;
  background-color: var(--white-color);
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.16);
  overflow: hidden;
  position: relative;
  transform: translateY(-2.5rem); }

.kpi {
  display: flex;
  flex-direction: column;
  font-size: 0.5rem;
  padding-left: 2.125em;
  position: relative; }
  @media screen and (min-width: 40em) {
    .kpi {
      font-size: 0.75rem; } }
  @media screen and (min-width: 64em) {
    .kpi {
      font-size: 1rem; } }
  .kpi::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 0.75em solid transparent;
    border-right: 0.75em solid transparent;
    border-bottom: 1.5em solid var(--kpi-color);
    position: absolute;
    top: 1.625em;
    left: 0; }
  .kpi + .kpi {
    margin-left: 2em; }
    @media screen and (min-width: 90em) {
      .kpi + .kpi {
        margin-left: 5.9375em; } }
  .kpi--high {
    --kpi-color: var(--online-color); }
  .kpi--low {
    --kpi-color: var(--offline-color); }
    .kpi--low::before {
      transform: rotate(180deg); }
  .kpi__value {
    font-size: 3.5em;
    font-weight: 700;
    line-height: 1.3; }
  .kpi__label {
    font-size: 1em;
    color: var(--gray-color-200); }

.navigation.is-open .navigation__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-image: var(--light-gradient); }

.navigation__button {
  padding: 0;
  color: var(--white-color);
  border: 0;
  background-color: transparent; }
  @media screen and (min-width: 48em) {
    .navigation__button {
      display: none; } }
  .navigation__button > svg {
    width: 2.75rem;
    height: 2.75rem; }

.navigation__list {
  display: none;
  padding-left: 0;
  list-style-type: none; }
  @media screen and (min-width: 48em) {
    .navigation__list {
      display: flex !important;
      flex-direction: row !important;
      position: static !important;
      background-image: none !important; } }

.navigation__item + .navigation__item {
  margin-top: 1rem; }
  @media screen and (min-width: 48em) {
    .navigation__item + .navigation__item {
      margin-top: 0;
      margin-left: 1rem; } }
  @media screen and (min-width: 64em) {
    .navigation__item + .navigation__item {
      margin-left: 3.5rem; } }

.navigation__link {
  font-size: 1.25rem;
  color: var(--white-color);
  font-weight: 600;
  text-decoration: none; }
  @media screen and (min-width: 64em) {
    .navigation__link {
      font-size: 1.5rem; } }

.rating__value {
  display: flex;
  align-items: baseline;
  margin-bottom: 0; }
  .rating__value > strong {
    font-size: 2rem;
    font-weight: 700;
    color: var(--dark-color); }
    @media screen and (min-width: 64em) {
      .rating__value > strong {
        font-size: 3.5rem; } }
  .rating__value > span {
    margin-left: 0.5rem;
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--gray-color-200); }
    @media screen and (min-width: 64em) {
      .rating__value > span {
        font-size: 1.5rem; } }

.rating__progress {
  height: 0.5rem;
  border-radius: 0.25rem;
  opacity: 0.8;
  background-color: var(--gray-color-300); }
  .rating__progress::before {
    content: '';
    display: block;
    width: var(--progress-bar-width);
    height: 0.5rem;
    background-color: var(--online-color); }

.tabs {
  background-color: var(--white-color);
  border-radius: 0.5rem;
  overflow: hidden; }
  .tabs__nav {
    width: 100%;
    padding-bottom: 0.25rem;
    overflow-x: scroll; }
    @media screen and (min-width: 48em) {
      .tabs__nav {
        background-color: var(--gray-color-400); } }
  .tabs__list {
    background-color: var(--white-color);
    display: flex;
    list-style-type: none; }
  .tabs__button {
    --tab-underline-color: var(--gray-color-400);
    width: 7rem;
    height: 2.75rem;
    padding: 0;
    border: 0;
    font-size: 1rem;
    font-weight: 600;
    color: var(--gray-color-200);
    background-color: transparent;
    position: relative;
    transition: color 250ms; }
    @media screen and (min-width: 48em) {
      .tabs__button {
        width: 10.75rem;
        font-size: 1.25rem;
        height: 3.75rem; } }
    .tabs__button::after {
      content: '';
      display: block;
      width: 100%;
      height: 0.25rem;
      background: var(--tab-underline-color);
      position: absolute;
      left: 0;
      bottom: -0.25rem; }
    .tabs__button:hover, .tabs__button.is-active {
      --tab-underline-color: var(--light-gradient);
      color: var(--dark-color); }
  .tabs__content {
    display: none; }
    .tabs__content.is-active {
      display: block; }

.collapsable {
  --colllapsable-height: auto; }
  .collapsable:not(.is-open) .collapsable__content {
    --colllapsable-height: 17.625rem; }
    .collapsable:not(.is-open) .collapsable__content::after {
      opacity: 1; }
  .collapsable__content {
    height: var(--colllapsable-height);
    padding-bottom: 2.75rem;
    margin-top: 1rem;
    position: relative;
    overflow: hidden; }
    .collapsable__content::after {
      content: '';
      display: block;
      width: 100%;
      height: 5rem;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
      opacity: 0;
      background-image: var(--white-transparent-gradient);
      transition: opacity 250ms; }
    @media screen and (min-width: 48em) {
      .collapsable__content {
        margin-top: 2rem; } }

.app-footer {
  padding: 1.8125rem 0 2.1875rem;
  background-color: var(--dark-color); }
  .app-footer small {
    font-size: 1rem;
    color: var(--white-color); }

.app-header {
  padding: 2.375rem 0 4.875rem;
  background-image: var(--light-gradient); }
  .app-header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.app-content {
  flex-grow: 1;
  padding-bottom: 5rem;
  background-color: var(--gray-color-600); }

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

/*# sourceMappingURL=styles.css.map */
