<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ _target.title }}</title>
  <meta name="description" content="" />
  <link media="all" rel="stylesheet" href="{{ path '/css/styles.min.css' }}">

  <link rel="apple-touch-icon" sizes="120x120" href="{{ path '/img/favicon/apple-touch-icon.png' }}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{ path '/img/favicon/favicon-32x32.png' }}" />
  <link rel="icon" type="image/png" sizes="16x16" href="{{ path '/img/favicon/favicon-16x16.png' }}" />
  <meta name="theme-color" content="#B993D6">
</head>

<body>

  {{{ yield }}}

  <script src="{{ path '/js/vendor/countUp.min.js' }}"></script>
  <script src="{{ path '/js/main.js' }}"></script>

</body>

</html>