// ------------------------------------------------------
// AVATAR
// ------------------------------------------------------

.avatar {
  display: flex;
  align-items: center;

  // MODIFIERS
  &--online {
    --badge-color: var(--online-color);
  }

  &--offline {
    --badge-color: var(--offline-color);
  }

  &__image {
    position: relative;

    // Badge
    &::before {
      content: '';
      display: block;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: z(default);
      background-color: var(--badge-color);

      @include mq($from: tablet) {
        top: 0.25rem;
        right: 0.25rem;
      }
      @include mq($from: desktop) {
        top: 0.5rem;
        right: 0.5rem;
      }
    }

    // Fallback when an image is not being provided
    &::after {
      content: 'No img';
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-size: 0.875rem;
      background-color: var(--light-color);
      border-radius: 50%;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      z-index: z(behind);
    }

    > img {
      width: 4rem;
      height: 4rem;
      font-size: 1rem;
      border-radius: 50%;
      overflow: hidden;

      @include mq($from: tablet) {
        width: 5.5rem;
        height: 5.5rem;
      }
      @include mq($from: desktop) {
        width: 7.5rem;
        height: 7.5rem;
      }
    }
  }

  &__info {
    margin-left: 1rem;

    @include mq($from: tablet) {
      margin-left: 1.5rem;
    }
    @include mq($from: desktop) {
      margin-left: 2rem;
    }

    &__title {
      margin-bottom: 0.25rem;
      font-size: 1.125rem;
      font-weight: $medium;
      color: var(--dark-color);

      @include mq($from: tablet) {
        font-size: 1.25rem;
      }
      @include mq($from: desktop) {
        font-size: 1.5rem;
      }
      @include mq($from: desktop-extralarge) {
        font-size: 1.875rem;
      }
    }

    &__text {
      font-size: 1rem;
      color: var(--gray-color-200);

      @include mq($from: tablet) {
        font-size: 1.5rem;
      }
      @include mq($from: desktop-extralarge) {
        font-size: 1.25vw;
      }
    }
  }
}
