<div class="avatar {{ avatarModifier }}">
  <div class="avatar__image">
    <img src="{{ path avatarSource }}" alt="{{ avatarAlt }}">
  </div>
  <div class="avatar__info">
    <h1 class="avatar__info__title">{{ avatarInfoTitle }}</h1>
    <p class="avatar__info__description">{{ avatarInfoDescription }}</p>
  </div>
</div>