// ------------------------------------------------------
// CARD
// ------------------------------------------------------

.card {
  min-height: 30rem;
  border-radius: 0.5rem;
  background-color: var(--white-color);
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.16);
  overflow: hidden;
  position: relative;
  transform: translateY(-2.5rem);
}
