<button class="button {{ buttonModifier }}" {{{ buttonAttributes }}}>
  <svg height="{{ buttonIconHeight }}">
    <use xlink:href="{{ path '/img/icons/sprite.svg#{{buttonIcon}}' }}"></use>
  </svg>
  <span>{{ buttonText }}</span>
</button>