// ----------------------------------------------------------------------
// BUTTONS
// ----------------------------------------------------------------------

%button-base {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  transition: all 300ms;

  &[disabled] {
    pointer-events: none;
    opacity: 0.6;
  }
}

// DEFAULT CLASS
.button {
  @extend %button-base;

  // MODIFERS
  &--primary {
    flex-direction: column;
    width: 100%;
    padding: 2.75rem 1.5rem 2.875rem;
    font-size: 1.5rem;
    font-weight: $bold;
    line-height: 1.4;
    color: var(--button-text-color);
    border-radius: 0.5rem;
    background: var(--button-background-color);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0);
    overflow: hidden;
    position: relative;

    @include mq($from: tablet) {
      font-size: 1.25rem;
    }
    @include mq($from: desktop) {
      font-size: 1.5rem;
    }
    @include mq($from: desktop-extralarge) {
      font-size: 1.875rem;
      padding-top: 3.75rem;
      padding-bottom: 3.875rem;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      background: var(--light-gradient);
      transition: opacity 300ms;
    }

    > * {
      position: relative;
      z-index: z(default);
    }

    > svg {
      width: 50%;
      height: 3.5rem;
      margin-bottom: 0.3125rem;

      @include mq($from: tablet) {
        height: 2.5rem;
      }
      @include mq($from: desktop) {
        height: 3rem;
      }
      @include mq($from: max-width) {
        height: 3.5rem;
      }
      @include mq($from: desktop-extralarge) {
        height: 4.5rem;
        margin-bottom: 0.5rem;
      }
    }

    &:hover {
      color: var(--white-color);
      box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.24);
      transform: translateY(-0.5rem);

      &::after {
        opacity: 1;
      }
    }
  }

  &--collapsable {
    width: 100%;
    height: 2.75rem;
    padding: 0;
    font-weight: $medium;
    color: var(--dark-color);
    position: absolute;
    bottom: 0;
    z-index: z(default) + 1;
    background-color: transparent;

    @include mq($from: desktop-extralarge) {
      font-size: 1.125vw;
    }

    > span {
      display: block;
      width: 5.25rem;
      text-align: left;

      @include mq($from: desktop-extralarge) {
        width: 8.125vw;
      }
    }

    > svg {
      width: 0.875rem;
      height: 0.5rem;
      margin-right: 0.5rem;
      transition: transform $normal;

      @include mq($from: desktop-extralarge) {
        width: 1rem;
        height: 1rem;
        margin-right: 1rem;
      }
    }

    &:hover {
      color: var(--black-color);
    }

    // STATES
    .is-open & {
      > svg {
        transform: rotate(180deg);
      }
    }
  }
}
