// -----------------------
// RATING
// -----------------------

.rating {
  &__value {
    display: flex;
    align-items: baseline;
    margin-bottom: 0;

    > strong {
      font-size: 2rem;
      font-weight: $bold;
      color: var(--dark-color);

      @include mq($from: desktop) {
        font-size: 3.5rem;
      }
    }
    > span {
      margin-left: 0.5rem;
      font-size: 1.125rem;
      font-weight: $regular;
      color: var(--gray-color-200);

      @include mq($from: desktop) {
        font-size: 1.5rem;
      }
    }
  }

  &__progress {
    height: 0.5rem;
    border-radius: 0.25rem;
    opacity: 0.8;
    background-color: var(--gray-color-300);

    &::before {
      content: '';
      display: block;
      width: var(--progress-bar-width);
      height: 0.5rem;
      border-radius: 0.5rem;
      background-color: var(--online-color);
      will-change: width;
      transition: width 1500ms;
    }
  }
}
