<header class="rating">
    <h2 class="rating__value">
        <strong id="animateRating">8.7</strong>
        <span>out of 10</span>
    </h2>
</header>
<div class="rating__progress" data-progress="{{ ratingProgress }}" style="--progress-bar-width: 0">
    <span class="sr-only">{{ ratingProgress }}</span>
</div>