.container {
  --wrapper-max-width: 100%;
  width: var(--wrapper-max-width);
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;

  @include mq($from: max-width) {
    --wrapper-max-width: 88.888%;
    padding: 0;
  }
  @include mq($from: desktop-extralarge) {
    --wrapper-max-width: 107rem;
  }
  @include mq($from: full-width) {
    --wrapper-max-width: 115rem;
  }
}

.row {
  padding: 2rem 1rem;

  @include mq($from: tablet-small) {
    display: flex;
  }
  @include mq($from: tablet) {
    padding: 2rem 1.5rem;
  }
  @include mq($from: desktop) {
    padding: 3rem 2.5rem;
  }
  @include mq($from: max-width) {
    padding: 4rem 3.5rem;
  }

  & + & {
    position: relative;

    &::before {
      content: '';
      display: block;
      width: calc(100% - 2rem);
      height: 0.0625rem;
      position: absolute;
      top: 0;
      left: 1rem;
      background-color: var(--gray-color-400);

      @include mq($from: tablet) {
        width: calc(100% - 3rem);
        left: 1.5rem;
      }
      @include mq($from: desktop) {
        width: calc(100% - 5rem);
        left: 2.5rem;
      }
      @include mq($from: max-width) {
        width: calc(100% - 7rem);
        left: 3.5rem;
      }
    }
  }

  > .col {
    &:nth-child(1) {
      @include mq($from: tablet-small) {
        padding-right: 1.5rem;
      }
      @include mq($from: desktop) {
        padding-right: 3rem;
      }
    }
    &:nth-child(2) {
      @include mq($from: tablet-small) {
        padding-left: 1.5rem;
      }
      @include mq($from: desktop) {
        padding-left: 3rem;
      }
    }
  }
}
.col {
  flex: 0 0 auto;

  @include mq($from: tablet-small) {
    flex-basis: 50%;
    max-width: 50%;
  }

  & + & {
    margin-top: 1.5rem;
    position: relative;

    @include mq($from: tablet-small) {
      margin-top: 0;

      &::before {
        content: '';
        display: block;
        width: 0.0625rem;
        height: 100%;
        background-color: var(--gray-color-400);
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  // MODIIFERS
  @for $i from 1 through 10 {
    @include mq($from: desktop) {
      &-dk-#{$i}0 {
        flex-basis: $i * 10%;
        max-width: $i * 10%;
      }
    }
  }
}
