// -----------------------
// HEADER
// -----------------------

.app-header {
  padding: 2.375rem 0 4.875rem;
  background-image: var(--light-gradient);

  > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
