@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// Fonts
//-----------
$ff: 'Open Sans', serif !default;

// Font weight
//-----------
$regular: 400;
$medium: 600;
$bold: 700;
