// Dev
//-----------
$dev: #f06;
$dev-1: rgba(0, 255, 13, 0.74);
$dev-2: rgb(229, 255, 0);
$dev-3: rgb(0, 238, 255);

// Namespace
// -----------
$namespace: 'rdrdx';

// Brand Colours
//-----------
:root {
  --white-color: #ffffff;
  --black-color: #000000;

  --gray-color-100: #484848;
  --gray-color-200: #afafaf;
  --gray-color-300: #d8d8d8;
  --gray-color-400: #e0e0e0;
  --gray-color-500: #f9f9f9;
  --gray-color-600: #f0f2f9;

  --light-color: var(--gray-color-500);
  --dark-color: var(--gray-color-100);

  --primary-color: var(--dark-color);
  --secondary-color: var(--gray-color-400);

  --online-color: #60f560;
  --offline-color: #f56060;

  --light-gradient: linear-gradient(90deg, #b993d6 0%, #8ca6db 100%);
  --white-transparent-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.64) 0%,
    #ffffff 100%
  );

  --button-text-color: #c4cce8;
  --button-background-color: var(--gray-color-600);
}

// Easing
//-----------
$ease-in: cubic-bezier(0, 0, 0.24, 0.9);
$ease-out: cubic-bezier(0.59, 0, 0.68, 0.69);
$ease-in-bounce: cubic-bezier(0.03, 0.27, 0.49, 1.22);
$ease-out-bounce: cubic-bezier(0.59, 0, 0.59, 1.48);
$ease-linear: cubic-bezier(0.03, 0.27, 0.44, 0.93);
$ease-extreme: cubic-bezier(0.68, -0.55, 0.26, 1.55);

// Timing
//-----------
$fast: 150ms;
$normal: 250ms;
$slow: 350ms;
$ultraslow: 500ms;

// Delay
//-----------
$delay: 50ms;

// Z-index
//-----------
$z-layers: (
  bottomless-pit: -9999,
  behind: -1,
  default: 1,
  overlay: 100,
  modal: 200,
  header: 300,
  video: 350,
  spinner: 400,
);
