{{!-- TODO: aria-expanded --}}
<div class="collapsable js-collapsable">
    {{ render '@rating' }}
    <div class="collapsable__content">
        {{> @paragraph }}
        {{ render '@button--view-more' }}
    </div>
</div>