// -----------------------
// COLLAPSABLE
// -----------------------

.collapsable {
  --colllapsable-height: auto;
  // STATES
  &:not(.is-open) .collapsable__content {
    --colllapsable-height: 17.625rem;
    &::after {
      opacity: 1;
    }
  }

  &__content {
    height: var(--colllapsable-height);
    padding-bottom: 2.75rem;
    margin-top: 1rem;
    position: relative;
    overflow: hidden;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 5rem;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: z(default);
      opacity: 0;
      background-image: var(--white-transparent-gradient);
      transition: opacity $normal;
    }

    @include mq($from: tablet) {
      margin-top: 2rem;
    }
  }
}
