// ------------------------------------------------------
// TYPE
// ------------------------------------------------------

// Headings
// ------------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  font-family: $ff;
  font-weight: $bold;
  color: var(--dark-color);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5,
h6 {
  font-size: 1rem;
}

p {
  margin: 0;

  @include mq($from: desktop-extralarge) {
    font-size: 1.125vw;
  }

  + p {
    margin-top: 1.5rem;
  }
}
